<br>
<h3>Edit User Account</h3>
<br>
<form action= "/users/<%=@user.id%>" method= "POST">
	<input type="hidden" name="_method" value= "PATCH">
	<lable for="username">Username:</lable>
	<input type="text" id="username" name="username" value='<%=@user.username%>'><br><br>
	<lable for="email">Email:</lable>
  <input type="text" id="email" name="email" value="<%=@user.email%>"><br><br>
	<lable for="fair_date">Fair Date:</lable>
	<input type="text" id="fair_date" name="fair_date" value="<%=@user.fair_date%>"><br><br>
	<input type="submit" value="Save Changes">
</form>
