<!DOCTYPE html>
<html>
<head>
	<style>
	table {
			font-family :arial, sans-serif;;
			border-collapse: collapse;
	}
	th {border: 1px solid #ffffff;
			background-color: #dddddd;
			text-align: center;
			padding: 2px
		}
		td {text-align: center;
		padding: 2px
		}
		</style>
	</head>
	<br>
<h3>Create New Hog</h3>
<br>
<form action='/hogs' method="POST">
	<lable for="name">Name:</lable>
  <input type="text" id="name" name="name" placeholder="name"><br><br>
  <table>
		<tr>
			<th>Week 1 (61-121)</th>
			<th>Week 2 (73 - 133)</th>
			<th>Week 3 (84- 144)</th>
			<th>Week 4 (95 - 155)</th>
			<th>Week 5 (107 - 167)</th>
		</tr>
			<td><input type="text" id="week_1" name="week_1"></td>
			<td><input type="text" id="week_2" name="week_2"></td>
			<td><input type="text" id="week_3" name="week_3"></td>
			<td><input type="text" id="week_4" name="week_4"></td>
			<td><input type="text" id="week_5" name="week_5"></td>
		</tr>
		<tr>
			 <th>Week 6 (118 - 178)</th>
			 <th>Week 7 (129 - 189)</th>
			 <th>Week 8 (140 - 200)</th>
			 <th>Week 9 (152 - 212)</th>
			 <th>Week 10 (163 - 224)</th>
	 </tr>
		<tr>
			<td><input type="text" id="week_6" name="week_6"></td>
			<td><input type="text" id="week_7" name="week_7"></td>
			<td><input type="text" id="week_8" name="week_8"></td>
			<td><input type="text" id="week_9" name="week_9"></td>
			<td><input type="text" id="week_10" name="week_10"></td>
		</tr>
		<tr>
			<th>Week 11 (174 - 234)</th>
			<th>Week 12 (186 - 246)</th>
			<th>Week 13 (197 - 257)</th>
			<th>Week 14 (208 - 268)</th>
			<th>Week 15 (225 - 285)</th>
		</tr>
		<tr>
		<td><input type="text" id="week_11" name="week_11"></td>
		<td><input type="text" id="week_12" name="week_12"></td>
		<td><input type="text" id="week_13" name="week_13"></td>
		<td><input type="text" id="week_14" name="week_14"></td>
		<td><input type="text" id="week_15" name="week_15"></td>
    </tr>
  </table><br>
	<input type="submit" value="Add Hog">
</form>
</html>
